$clr: rgb(242, 230, 247);
$clr-b: #96CEC8;
$clr-c: #8488C5;
$clr-hover: rgb(203, 192, 207);

$dark-c:#22004D;
@import './components/header.scss';
@import './components/CategoryPanel/categories.scss';
@import './components/loader.scss';
@import './components/Products/products.scss';
@import './components/CartProducts/cart-products.scss';
@import './components/OrderComponents/order.scss';
@import './components/OrderList/orderList.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    min-height: 100vh;
    background-color: $clr;
}
.material-symbols-outlined{
    cursor: pointer;
}

.container{
    width: 70%;
    margin: auto;
}

.header {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    .panel {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 98%;
        border-radius: 10px;
        height: 70px;
        background-color: $clr-c;
        .right{
            display: flex;
            align-items: center;
            .out-button{
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                background-color: $dark-c;
                min-width: 50px;
                height: 50px;
                border-radius: 30px;
                font-size: 0px;
                transition: 0.3s;
                padding: 0px 10px 0 10px;
            }
            .out-button:hover{
                font-size: 15px;
            }
            
        }
    }

    .logo {
        width: 100px;
        margin: 0 10px 0 10px;
        height: 50px;
        border: 3px solid black;
    }
}

a {
    text-decoration: none;
    color: inherit;
}
.product-page{
    display: flex;
    flex-direction: column;
    animation: fromRight 1s;
    .name{
        font-size: 32px;
        font-weight: bold;
    }
    .top-panel{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img{
            padding: 20px;
            width: 50%;
            height: 300px;
            object-fit: contain;
        }
        .specs{
            min-width: 330px;
            h3{
                margin: 20px;
                text-align: center;
            }
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 40%;
            border: 2px solid $clr-c;
            border-radius: 20px;
            .specs-values{
                text-align: center;
                .spec{
                    margin: 10px;
                }
            }
            .cart-buttons{
                display: flex;
                justify-content: center;
                font-size: 30px;
                //margin-bottom: 20px;
                .icon{
                    font-size: 35px;
                    font-weight: bold;
                    background-color: $dark-c;
                    color: $clr;
                    border-radius: 50%;
                    margin: 0 30px 0 30px;
                }
            }
            .bottom{
                display: flex;
                align-items: center;
                justify-content: space-between;
                //margin-bottom: 20px;
                padding-left: 10px;
                .price{
                    border-radius: 20px;
                    padding: 2px;
                    border: 3px solid $dark-c;
                    display: flex;
                    font-size: 25px;
                    .value{
                        // margin: 0 0 20px 20px;
                        display: flex;
                        align-items: center;
                    }
                    .discount{
                        // border: 6px solid $clr-b;
                        // margin-bottom: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 60px;
                        width: 60px;
                        margin-left: 10px;
                        background-color: $clr-b;
                        border-radius: 50%;
                    }
                }
            }
        }   
    }
    .description{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        .banner{
            background-color: $clr-hover;
            border-radius: 20px;
            padding: 10px;
            border: 3px solid $dark-c;
            width: 50%;
        }
    }
}

.empty-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    padding-top: 200px;
    .icon{
        font-size: 100px;
    }
}