$clr: rgb(242, 230, 247); //#efefe5;
$clr-b: #96CEC8;
$clr-c: #8488C5;
$clr-hover: rgb(203, 192, 207);

$dark-c: #22004D;
@import './components/header.scss';
@import './components/CategoryPanel/categories.scss';
@import './components/loader.scss';
@import './components/Products/products.scss';
@import './components/CartProducts/cart-products.scss';
@import './components/OrderComponents/order.scss';
@import './components/OrderList/orderList.scss';
@import './components/footer.scss';
@import './components/Entering/enter.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    min-height: 100vh;
    background-color: $clr;
}

.material-symbols-outlined {
    cursor: pointer;
}

.container {
    width: 70%;
    margin: auto;
    min-height: calc(100vh - 220px);

    @media (max-width:1000px) {
        width: 80%;
    }

    @media (max-width:600px) {
        width: 90%;
    }

    @media (max-width:400px) {
        width: 95%;
    }
}

.header {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    .panel {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 98%;
        border-radius: 10px;
        height: 70px;
        background-color: $clr-c;

        .right {
            display: flex;
            align-items: center;

            .out-button {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                background-color: $dark-c;
                min-width: 50px;
                height: 50px;
                border-radius: 30px;
                font-size: 0px;
                transition: 0.3s;
                padding: 0px 10px 0 10px;
            }

            .out-button:hover {
                font-size: 15px;
            }

        }
    }

    .logo {
        width: 100px;
        margin: 0 10px 0 10px;
        height: 50px;
        background-color: $clr;
        border-radius: 20px;
        object-fit: cover;

        @media (max-width:490px) {
            display: none;
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.chosen-color {
    border: 3px solid $dark-c;
    border-image: linear-gradient(to right top, $dark-c, $dark-c, $dark-c);
    border-image-slice: 1;
}

.sizes {
    background-color: $clr-c;
    color: $clr;
    border-radius: 10px;
    border: 0px;
}

.product-page {
    display: flex;
    flex-direction: column;
    animation: fromRight 1s;

    .sizes {
        height: 30px;
        font-size: 18px;
        color: black;
        background-color: $clr;
        border: 2px solid $dark-c;
    }

    .name {
        font-size: 32px;
        font-weight: bold;
    }

    .top-panel {
        display: flex;
        flex-direction: row;

        justify-content: space-between;

        .pics {
            display: flex;
            flex-direction: column;
            padding: 20px;
            width: 50%;
            align-items: center;

            @media (max-width:700px) {
                width: 100%;
            }

            min-height: 300px;

            .main-pic {
                padding: 10px;
                width: 80%;
                object-fit: contain;
                max-height: 300px;
            }

            .additional {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;

                img {
                    margin: 5px;
                    padding: 5px;
                    width: 20%;
                    height: 80px;
                    object-fit: contain;
                    border: $clr-c 3px solid;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        }

        .specs {
            min-width: 330px;

            h3 {
                margin: 20px;
                text-align: center;
            }

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 40%;
            border: 2px solid $clr-c;
            border-radius: 20px;

            .specs-values {
                text-align: center;

                .spec {
                    margin: 10px;
                }
            }

            .cart-buttons {
                display: flex;
                justify-content: center;
                font-size: 30px;

                //margin-bottom: 20px;
                .icon {
                    font-size: 35px;
                    font-weight: bold;
                    background-color: $dark-c;
                    color: $clr;
                    border-radius: 50%;
                    margin: 0 30px 0 30px;
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                //margin-bottom: 20px;
                @media (max-width:1300px) and (min-width:700px) {
                    flex-direction: column;

                    .cart-buttons {
                        margin-top: 10px;
                    }
                }

                padding-left: 10px;

                .price {
                    border-radius: 20px;
                    padding: 2px;
                    border: 3px solid $dark-c;
                    display: flex;
                    font-size: 25px;

                    .value {
                        // margin: 0 0 20px 20px;
                        display: flex;
                        align-items: center;
                    }

                    .discount {
                        // border: 6px solid $clr-b;
                        // margin-bottom: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 60px;
                        width: 60px;
                        margin-left: 10px;
                        background-color: $clr-b;
                        border-radius: 50%;
                    }
                }
            }
        }

        @media (max-width:700px) {
            flex-direction: column;
            align-items: center;

            img {
                width: 100%;
            }

            .specs {
                width: 380px;
            }
        }

        @media (max-width:400px) {
            img {
                padding: 0px;
            }

            .specs {
                width: 100%;

                .bottom {
                    flex-direction: column;

                    .cart-buttons {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    .description {
        padding: 20px;
        display: flex;
        justify-content: space-between;

        @media (max-width:700px) {
            flex-direction: column;
            align-items: center;
        }

        .banner {
            background-color: $clr-hover;
            border-radius: 20px;
            padding: 10px;
            border: 3px solid $dark-c;
            width: 50%;

            @media (max-width:700px) {
                width: 100%;
            }
        }
    }
}

.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    padding-top: 200px;

    .icon {
        font-size: 100px;
    }
}

.order-data {
    font-size: 18px;

    h1 {
        margin: 10px;
    }

    div {
        margin: 10px;
    }

    .status-div {
        display: flex;
        align-items: center;
    }

    .date {
        input {
            font-size: 15px;
            padding: 10px;
            border: 2px solid $dark-c;
            border-radius: 20px;
            background-color: $clr;
        }
    }
}

.auth-page {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .buttons {
        display: flex;
        justify-content: center;

        button {
            font-size: 15px;
            width: 120px;
            height: 40px;
            margin: 10px;
            border-radius: 20px;
            background-color: $clr-c;
            border: $clr-c 1px solid;
            color: $clr;
            transition: 0.5s;
        }

        .active {
            background-color: $dark-c;
        }
    }
}

.banner {
    width: 100%;
    margin: 50px 0;
    transition: 0.3s;
    border-radius: 30px;
    border: solid 3px $clr-hover;
}

.banner:hover {
    opacity: 0.8;
    box-shadow: 5px 5px $clr-hover;
}