.navigation {
    position: relative;
    width: 400px;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    ul {
        display: flex;

        li {
            position: relative;
            list-style: none;
            width: 70px;
            height: 70px;
            z-index: 1;

            a {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                text-align: center;
                font-weight: 500;

                .icon {
                    position: relative;
                    display: block;
                    line-height: 75px;
                    font-size: 1.5em;
                    text-align: center;
                    transition: 0.5s;
                    color: $clr;
                }
            }

            :hover {
                .icon {
                    transform: translateY(-35px);
                }
            }
        }
    }
}