@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

body {
  background-color: rgb(242, 230, 247);

  min-height: calc(100vh - 220px);

}

.container {
  width: 70%;
  margin: auto;
}

/* loader */
.lds-ring {
  width: 100%;
  margin: 8% auto;
  width: 160px;
  height: 160px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;

  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* loader - end */

/* navbar */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgba(174, 0, 255, 1);
}

.header a {
  text-decoration: none;
}

header button {
  padding: 9px 25px;
  background-color: var(--clr-c);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color: rgba(174, 0, 255, 0.5);
}

header button:hover {
  color: rgba(174, 0, 255, 0.5);
  background-color: rgba(174, 0, 255, 0.2);
}

.logo {
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  color: rgba(174, 0, 255, 1);
}

.nav_links li a:hover {
  color: rgba(174, 0, 255, 0.5);
}

/* navbar - end */

/* main page */
.main_buttons {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

.top_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.bot_buttons {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.main_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid blueviolet;
  border-radius: 10px;
  width: 200px;
  height: 80px;
  margin-right: 20px;
}

.main_button:last-child {
  margin-right: 0;
}

/* main page - end */

/* modal window */
.modal_window {
  position: absolute;
  background-color: black;
  opacity: 50%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

}

.modal_window_border {
  width: 500px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* create item form*/
.create_item_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  cursor: pointer;
  background-color: inherit;
  margin: 0 3px;
  transition: 0.3s;
}

.add-btn {
  padding: 5px;
  border-radius: 50%;
  background-color: #8488C5;
  color: rgb(242, 230, 247);
}

.category .name {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  /* border: 2px solid black; */
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
}

.category .name .parentId {
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: inherit;
}

.category .name .parentId label {
  background-color: inherit;
  margin-right: 5px;
}

.category .name .parentId input {
  width: 50px;
  text-align: center;
}

.category .name .hide {
  font-size: 0px;
}

.category .name .data {
  background-color: inherit;
  display: flex;
  align-items: center;
}

.category .name .data a {
  text-decoration: none;
  color: inherit
}

.category .name input {
  background-color: rgb(242, 230, 247);
  transition: 0.3s;
  width: 100px;
  border: 0px;
  border-radius: 10px;
  height: 30px;
  text-align: center;
}

.category .name .id {
  margin: 0 2px;
  background-color: inherit;
}

.category .name input:disabled {
  background-color: inherit;
  color: inherit;

}

.color-1 {
  background-color: #96CEC8;
  color: black;
}

.color-2 {
  background-color: #8488C5;
  color: rgb(242, 230, 247);
}

.color-3 {
  background-color: rgb(203, 192, 207);
  color: black;
}

.color-4 {
  background-color: #d5f7ec;
  color: black;
}

.color-5 {
  background-color: #edf9f5;
  color: black;
}


.child-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new-category {
  margin-top: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 20px;
  background-color: #8488C5;
  color: rgb(242, 230, 247);
}

.new-category #picture {
  display: none;
}

.new-category input, .new-category .pic-label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 20px;
  text-align: center;
  border: 0px;
  background-color: rgb(242, 230, 247);
  color: black;
}

.new-category .uploaded {
  background-color: green;
}

.new-category button {
  height: 30px;
  transition: 0.5s;
  margin-bottom: 10px;
  border-radius: 20px;
  text-align: center;
  border: 0px;
  background-color: rgb(242, 230, 247);
}

.new-category button:hover {
  background-color: rgb(87, 53, 102);
  color: rgb(242, 230, 247);
}

.new-product{
  width: 500px;
}
.new-product input {
  margin: 3px 0;
  width: 100%;
  font-size: 18px;
  padding: 5px;
  border-radius: 20px;
}
.new-product textarea {
  margin: 3px 0;
  width: 100%;
  font-size: 18px;
  padding: 5px;
  border-radius: 20px;
}
.product {
  background-color: #8488C5;
  color: rgb(242, 230, 247);
  border-radius: 20px;
  width: 30%;
  margin: 0 1.5% 1.5% 1.5%;
  padding: 10px 1.5% 10px 1.5%;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.product img {
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.product input {
  margin: 3px 0;
  width: 100%;
  font-size: 18px;
  padding: 5px;
  border-radius: 20px;
}

.product input:disabled {
  border: 0px;
  font-size: 18px;
  background-color: #8488C5;
  color: rgb(242, 230, 247);
  padding: 5px;
  border-radius: 20px;
}

.product .active {
  border: 6px solid rgb(242, 230, 247);
  padding: 5px;
  border-radius: 15px;
}

.product .chosen {
  border: 6px solid rgb(127, 225, 182);
  padding: 5px;
  border-radius: 15px;
}

.product .name {
  margin: 20px 0px 20px 0px;
}

.product:hover {
  box-shadow: 5px 5px rgb(203, 192, 207);
}

.product .additional-pics{
  padding: 5px;
  border: rgb(242, 230, 247) solid 3px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


}

.product .additional-pics label{
  width: 30%;
  border: rgb(242, 230, 247) solid 2px;
  border-radius: 20px;
  padding: 5px;

}

.product .additional-pics label img{
  
  height: 70px;
  
}
.product .added-pics div img{
  
  height: 70px;
  
}
.product .added-pics{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  border: rgb(242, 230, 247) solid 3px;
  border-radius: 20px;
  justify-content: space-between;
}

.product .added-pics label{
  width: 30%;
  border: rgb(242, 230, 247) solid 3px;
  border-radius: 20px;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product .added-pics div{
  width: 30%;
  border: rgb(242, 230, 247) solid 3px;
  border-radius: 20px;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product .added-pics label span{
  font-size: 50px;
}


.products {
  padding-top: 30px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.no-products {
  padding: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.no-products span {
  font-size: 50px;
}

.property-settings {
  padding: 3px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 3px solid rgb(242, 230, 247);
  margin-bottom: 10px;
}

.property-settings .inputs {
  display: flex;
  justify-content: space-between;
}

.property-settings .inputs input {
  width: 40%;
}

.property-settings .inputs .data {
  width: 100px;
  text-align: center;
}

.property-settings .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(242, 230, 247);
  color: #8488C5;
}

.order-list {
  display: flex;
  flex-direction: column;

}

.order-list .order {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.order-list .order .id {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #22004D;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.order-list .order .left {
  display: flex;
  align-items: center;

  @media (max-width:1200px) {
    flex-direction: column;
  }
}

.order-list .order .address-div {
  width: 300px;
}

.order-list .order .date input {
  background-color: rgb(242, 230, 247);
  font-size: 15px;
  padding: 10px;
  border: 2px solid #22004D;
  border-radius: 20px;
}

.order-list .order .date input:before {
  content: 'Дата заказа:';
  margin-right: 10px;
}

.order-list .order .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.order-list .order .icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22004D;
  color: rgb(242, 230, 247);
  border-radius: 50%;
}
.order-list .order .closed-btn {
  transform: rotate(90deg);
}
.order-list .order .opened {
  transform: rotate(270deg);
}
.order-list .order .hide {
  
  margin-right: 25px;
  width: 0px;
  height: 0px;
  font-size: 0px;
}



.status {
  border: 1px solid #22004D;
  border-radius: 20px;
  padding: 5px;
  width: 100px;
  text-align: center;
}

.created {
  background-color: green;
  color: rgb(242, 230, 247);
}

.closed {
  background-color: yellow;
}

.paid {
  background-color: blue;
  color: rgb(242, 230, 247);
}

.sent {
  background-color: aqua;
}
.cart-products{
  margin-top: 50px;
}
.cart-product{
  display: flex;
  @media (max-width:600px) {
      flex-direction: column;
  }
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  padding: 10px 0 10px 0;
  
}
.cart-product .right{
  display: flex;
  align-items: center;
  @media (max-width:1200px) and (min-width:600px) {
      flex-direction: column-reverse;
  }
}
.cart-product .center{
  display: flex;
  align-items: center;
  @media (max-width:768px) and (min-width:600px) {
      flex-direction: column;
  }
}
.cart-product .pic{
  height: 80px;
  width: 200px;
  object-fit: contain;
}
.cart-product .name{
  width: 200px;
  text-align: left;
}
.cart-product .discount{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #96CEC8;
  border-radius: 50%;
  margin-left: 10px;
  width: 50px;
  height: 50px;
}
.cart-product .cart-buttons{
  display: flex;
  
}
.cart-product .cart-buttons .icon{
  font-size: 32px;
  background-color: #22004D;
  color:rgb(242, 230, 247);
  border-radius: 50%;
  margin: 0 20px 0 20px;
}
.cart-product .cart-buttons .counter{
  font-size: 26px;
  display: flex;
  align-items: center;
}

.cart-product .pre-delete{
  display: flex;
  padding: 30px 70px 34px 0;
  justify-content: flex-end;
  
}

.cart-product .pre-delete button{
  cursor: pointer;
  transition: 0.3s;
  margin-left: 20px;
  background-color: #22004D;
  color: rgb(242, 230, 247);
  width: 70px;
  height: 40px;
  border-radius: 10px;
}
.cart-product .pre-delete button:hover{
  box-shadow: 3px 3px rgb(203, 192, 207);
}


.enter{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.enter input{
  font-size: 20px;
  text-align: center;
  margin: 10px;
  border-radius: 20px;
  width: 260px;
  height: 40px;

}
.enter button{
  margin-top: 10px;
  width: 260px;
  font-size: 20px;
  height: 40px;
  background-color: #8488C5;
  border: 0px;
  color: rgb(242, 230, 247);
  transition: 0.5s;
  border-radius: 20px;
}
.enter button:hover{
  background-color: #22004D;
}
.size-color{
  align-items: center;
  display: flex;
  min-width: 130px;
}

.hide-panel {
  display: none;
}